
<head>
    <link rel="stylesheet" href="../Static/bootstrap.min.css">
   <link rel="stylesheet" href="../Static/style.css">
   <script src="../Static/bootstrap.min.js"></script>
</head>
<form action="download" method="POST" style="border:1px solid #ccc">
  <div class="container">
    <h1>Welcome to the world of file downloading</h1>
    <p>Please enter URL to download the file</p>
    <hr>

    <label for="psw"><b>URL</b></label>
    <input type="text" placeholder="Enter URL" name="url" required>


    <div class="clearfix">
      <button type="submit" class="signupbtn">Download</button>
     <!--<button type="button" class="cancelbtn">Not Registered?</button>-->
    </div>
  </div>
</form>